<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}EAT TIME!{{else}}Vomit it UP!{{/if}}
	</button>

	<button class="delete-burro" data-id="{{this.id}}">DELETE!</button>
</li>