<div class="jumbotron">
  <h1 class="display-4">Beso del Burro!</h1>
  <p class="lead">The internet's premiere burrito-eating full-stack web application. Eat, add, modify, and delete exciting burros to your
    heart's (and stomach's) content. Get kissed by a burro today!</p>
  <h5 class="card-title">Add a Burro</h5>

  <form class="create-form">
    <div class="form-group">
      <label for="bu">Burro Name:</label>
      <input type="text" id="bu" name="name">
    </div>
    <div class="form-group">
      <label for="devoured">Are you adding an eaten or uneaten burro, here?</label>
      <br>
      <input type="radio" name="devoured" value="1" checked> Devoured!
      <br>
      <input type="radio" name="devoured" value="0"> Uneaten!
    </div>
    <span class="input-btn">
      <button class="btn btn-default btn-primary" type="submit">Add Burro</button>
    </span>
  </form>


</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Check out our tasty burros!</h5>
        <ul>
          {{#each burros}} {{#unless devoured}}
          <span> {{this.id}} - {{this.burro_name}}</span>
          <button class="change-devoured" data-id="{{this.id}}" data-devoured="{{devoured}}">
            {{#unless devoured}}EAT TIME!{{else}}Vomit it UP!{{/unless}}
          </button>
          <button class="delete-burro" data-id="{{this.id}}">DELETE!</button>
          <hr> {{/unless}} {{/each}}
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Check out which burros you've already eaten!</h5>
        <ul>
          {{#each burros}} {{#if devoured}}
          <span> {{this.id}} - {{this.burro_name}}</span>
          <button class="change-devoured" data-id="{{this.id}}" data-devoured="{{devoured}}">
            {{#unless devoured}}EAT TIME!{{else}}Vomit it UP!{{/unless}}
          </button>
          <button class="delete-burro" data-id="{{this.id}}">DELETE!</button>
          <hr> {{/if}} {{/each}}
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>